<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Hacking Burger</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

</head>
<body>
	<div class="title">
		<h1>The Hacking Burger</h1>
		<h2>#FOODPORN</h2>
	</div>
	<div class="contenu">
		<div id="content">
				<button id="presentation"><h3>Presentation</h3></button>		
				<p id="text1">Hello, nous sommes un restaurant où vous allez apprendre à tuner votre burger. Salade, Tomate, Oignon, Chips, Pizza, Biere ! <strong>#Place your bets</strong></p>			
		</div>
		<div id="content2">
			<button id="menu"><h3>Menu</h3></button>
			<p id="text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tenetur, dicta aperiam dignissimos officiis impedit quod quisquam labore accusantium enim inventore porro omnis quas eveniet maxime dolorum facilis, sed et.</p>
		</div>
		<div id="content3">
			<button id="contact"><h3>Contact</h3></button>
			<p id="text3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur numquam esse tenetur error fugiat doloremque dolorem veritatis. Quas libero, maxime laudantium est, dolorem obcaecati sunt velit animi quasi, maiores quos!</p>
		</div>
	</div>
</body>
</html>