<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Hacking Burger</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

</head>
<body>
	<div class="title">
		<h1>The Hacking Burger</h1>
		<h2>#FOODPORN</h2>
	</div>
	<div class="contenu">
		<div id="content">
				<button id="presentation"><h3>Presentation</h3></button>		
				<p id="text1">Vous aimez manger des hamburgers et avez un penchant pour la cuisine nanotech ? <br> <br> 
					The Hacking Burger vous propose, en plein centre Lyon, des burgers fraîchement préparés avec une sélection des plus fins ingrédients. </p>			
		</div>
		<div id="content2">
			<button id="menu"><h3>Menu</h3></button>
			<p id="text2">Entrée : Dotz de fromage cru <br> <br> Plat : Burger de ouf <br> <br> Dessert : Burger à la crème d'antilope</p>
		</div>
		<div id="content3">
			<button id="contact"><h3>Contact</h3></button>
			<p id="text3">Merci, au revoir d'être venu !</p>
		</div>
	</div>
</body>
</html>