/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	font-family     : 'Roboto Condensed', sans-serif;
	background-color: #8be0de;
	color           : white;
	
}

.contenu{
	display: flex;
	justify-content: center;
	margin   : 0 20% 0 20%;
}

h1{
	text-align : center;
	font-size  : 4em;
	color      : cadetblue;
	text-shadow:2px 2px 10px white;
}

h2{
	font-size: 3em;
	color: cadetblue;
	text-align : center;
}

h3{
	font-size: 2em;
}

#text1, #text2, #text3{
	display: none;
}

button, h3{
	border          :none;
	background-color: cadetblue;
	margin          : 10px;
	padding         : 3px 3px;
}

button{
}

#content, #content2, #content3{

}


